.footer {
    display: grid;
    grid-template-areas: "email github year";
    align-items: center;
    text-align: center;
    justify-items: center;
    background-color: rgb(87, 185, 87);
    height: 4rem;
    padding: 1rem;
}

.email {
    grid-area: email;
}

.fa-github {
    grid-area: github;
    font-size: 1.5rem;
    cursor: pointer;
}

.fa-github:hover {
    color: #333;
}

.year {
    grid-area: year;
}