.footer {
    background-color: rgb(243, 232, 208);
    padding: 1rem;
    text-align: center;
    width: 100%;
    position: relative;
    margin-top: auto;
}

@media (max-width: 768px) {
    .footer {
        padding: 0.5rem;
        font-size: 14px;
    }

    .footer .email, .footer .year {
        display: block;
        margin-bottom: 0.5rem;
    }

    .footer a {
        display: inline-block;
        margin-bottom: 0.5rem;
    }
}