body, html {
    height: 100%;
    margin: 0;
    font-family: Oswald, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.page__style {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-container {
    margin-top: 2rem;
}

.start-button {
    padding: 1rem 2rem;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(94, 206, 94);
    color: white;
}

.start-button:hover {
    background-color: rgb(37, 202, 37);
}

.options {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.options button {
    font-family: 'Oswald', sans-serif; 
    font-size: 16px;
    color: black; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}


.options button {
    background-color: rgb(216, 201, 168);
    border: none;
    padding: 0.6rem 2rem;
    margin: 0.2rem 0;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.options button:hover {
    background-color: rgb(243, 232, 208);
}